<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar una publicacion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updatePost()" [strong]="true">Crear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Titulo" labelPlacement="stacked" type="text" placeholder="Titulo"
      [(ngModel)]="post.titulo"></ion-input>
    <ion-input label="Detalles" labelPlacement="stacked" type="text" placeholder="Detalles"
      [(ngModel)]="post.detalles"></ion-input>
    <ion-input label="Contenido" labelPlacement="stacked" type="text" placeholder="Contenido"
      [(ngModel)]="post.contenido"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-button fill="outline" (click)="fileInput.click()">
      <ion-icon name="archive" class="archive"></ion-icon>
      Seleccionar archivo
    </ion-button>
    <input type="file" (change)="onFileSelected($event)" #fileInput hidden />
  </ion-item>
  <img *ngIf="imageUrl" [src]="imageUrl" alt="Vista previa de la imagen" width="100%">
</ion-content>