ion-item {
  --padding-start: 10px;
}

ion-footer {
  padding: 10px;
}

ion-input {
  flex: 1;
  --padding-start: 10px;
}
.message-timestamp {
  font-size: 0.7rem; /* Ajusta el tamaño del texto */
  color: #888; /* Cambia el color si lo prefieres */
}
.message-bubble {
  position: relative;
  display: flex;  /* Usar flexbox para alinear los elementos */
  justify-content: space-between;  /* Espacio entre el contenido y el ícono */
  align-items: center;  /* Centrar verticalmente */
  max-width: 80%;  /* Ajusta el máximo ancho del mensaje */
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.message-content {
  flex: 1;  /* Permite que el contenido ocupe el espacio disponible */
  margin-right: 10px;  /* Espacio entre el contenido y el ícono */
}

.message-icon {
  font-size: 20px;  /* Tamaño del ícono */
  color: rgb(230, 42, 42);  /* Color del ícono */
}

.message-text {
  white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis;  /* Muestra los tres puntos si el texto es demasiado largo */
}


.message-timestamp {
  font-size: 0.7rem;
  color: #888;
  display: block;
  text-align: right; /* Alinea el timestamp a la derecha */
}
