

<ion-content [fullscreen]="true">
  <div class="wave-background">
    <img src="assets/rancho.jpeg" class="logo" alt="Logo">
  </div>
  
  <div class="login-container">
    <h1 class="titulo">Bienvenido de nuevo!</h1>

    <!-- Campo de correo electrónico -->
    <ion-item class="input-item">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" required [(ngModel)]="user.correo"></ion-input>
    </ion-item>

    <!-- Campo de contraseña -->
    <ion-item class="input-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <!-- Botón de login -->
    <ion-button expand="block" class="login-button" (click)="login(user)">Iniciar sesión</ion-button>

    <!-- Texto de registro -->
    <div class="register-text">
      ¿No tienes una cuenta? <a [routerLink]="['/register']">Regístrate</a>
    </div>
  </div>
</ion-content>
