<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label position="floating">Usuario</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>
<ion-button class="ion-padding" color="primary">Acceder</ion-button>
<ion-button class="ion-padding" color="light">Registrarte</ion-button>
</ion-content>
