ion-header {
  --background: #ffffff; /* Fondo blanco para el modo claro */
  --color: #000000; /* Color negro para el texto y los botones */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea sutil para el borde inferior */
}

ion-toolbar {
  --background: #ffffff;
  --color: #000000;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000; /* Negro para el título */
}

ion-buttons {
  --color: #000000; /* Negro para los botones */
}

ion-button {
  --background: #ffffff;
  --color: #000000; /* Negro para el texto del botón */
  --border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px;
}

ion-content {
  --background: #f9f9f9; /* Fondo gris claro para el contenido */
  padding: 16px;
}

ion-item {
  --background: #ffffff; /* Fondo blanco para el ítem */
  --border-color: #ddd; /* Borde gris claro */
  --border-width: 1px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

ion-label {
  color: #000000 !important; /* Asegurar color negro para el texto de la etiqueta */
  font-weight: bold;
  font-size: 14px;
}

ion-input {
  --background: #ffffff; /* Fondo blanco para el campo de entrada */
  --color: #000000; /* Color negro para el texto */
  --padding-start: 16px;
  --padding-end: 16px;
  --border-radius: 4px;
  --border: 1px solid #ddd; /* Borde gris claro */
  font-size: 14px;
  margin-top: 8px;
}

ion-input::placeholder {
  color: #999; /* Color gris para el texto del placeholder */
}

@media (min-width: 768px) {
  ion-button {
    font-size: 16px;
  }

  ion-input {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  ion-button {
    font-size: 12px;
  }

  ion-input {
    font-size: 14px;
  }
}
