ion-content {
  --background: #ffffff; /* Fondo blanco para el contenido */
  color: #000000; /* Color de texto negro */
}

ion-grid {
  padding: 10px; /* Añadir algo de padding para separar el contenido del borde */
}

ion-row {
  margin: 0; /* Eliminar márgenes predeterminados */
}

ion-col {
  padding: 5px; /* Añadir padding interno a las columnas */
}

ion-img {
  border-radius: 8px; /* Bordes redondeados para las imágenes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para las imágenes */
  width: 100%; /* Asegurarse de que la imagen ocupe todo el ancho de la columna */
  height: auto; /* Mantener la proporción de la imagen */
}

ion-fab {
  --background: #007bff; /* Fondo azul para el botón flotante */
}

ion-fab-button {
  --background: #007bff; /* Fondo azul para el botón flotante */
  --color: #ffffff; /* Color de texto blanco para el ícono */
  border-radius: 50%; /* Bordes redondeados para el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más fuerte para el botón flotante */
}
