:root {
  --ion-padding-bottom: 0px; /* Ajusta el padding inferior según sea necesario */
}

/* Estilo para el contenido */
ion-content {
  overflow: hidden; /* Desactivar el desplazamiento */
}

/* Estilo para el contenedor de fondo */
.wave-background {
  background: linear-gradient(to bottom, #3a7bd5, #00d2ff);
  height: 250px; /* Ajustar altura según sea necesario */
  width: 100%; /* Asegurar que ocupe todo el ancho */
  position: absolute; /* Permitir que se superponga al otro contenido */
  top: 0; /* Posicionar en la parte superior de la vista */
  left: 0; /* Alinear al borde izquierdo */
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  z-index: -1; /* Asegurar que permanezca detrás de otros elementos */
}

/* Estilo para el logo */
.logo {
  position: absolute;
  top: 40px; /* Ajustar la posición superior según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Ajustar el tamaño del logo */
  height: auto;
}

/* Estilo para el contenedor de login */
.login-container {
  margin-top: 40px; /* Ajustar margen superior para evitar desplazamiento */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para el título */
.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 20px; /* Espaciado inferior */
  margin-top: 70px; /* Ajusta este valor para bajar el título */
}

/* Estilo para los items de entrada */
.input-item {
  --background: transparent;
  --border-color: #cfcfcf;
  --border-width: 1px;
  --box-shadow: none;
  width: 100%;
  margin-bottom: 20px;
}

.input-item ion-label {
  color: #6a6a6a;
}

.input-item ion-input {
  color: #000;
}

/* Estilo para el botón de login */
.login-button {
  --background: linear-gradient(to right, #3a7bd5, #00d2ff);
  --border-radius: 25px;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 100%;
  margin-top: 20px; /* Margen ajustado para espaciado */
}

/* Estilo para el texto de registro */
.register-text {
  color: #4a4a4a;
  font-size: 14px;
  margin-top: 10px;
}

.register-text a {
  color: #3a7bd5;
  font-weight: bold;
  text-decoration: none;
}

/* Estilo para los términos y condiciones */
.terms-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.terms-text {
  margin-left: 8px; /* Ajustar espacio entre checkbox y texto */
}
