:host {
  display: block;
  height: 100vh; /* Asegura que el host ocupe toda la altura del viewport */
}

ion-content {
  --background: #f0f0f0; /* Color de fondo claro para el contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Usa el 100% de la altura del ion-content */
}

ion-header {
  --background: #ffffff; /* Color de fondo blanco para el encabezado */
  --color: #000000; /* Color de texto negro */
}

ion-toolbar {
  --background: #ffffff; /* Color de fondo blanco para la barra de herramientas */
  --color: #000000; /* Color de texto negro */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  padding: 20px;
  background: #ffffff; /* Fondo blanco para el contenedor del formulario */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  max-width: 320px; /* Hacer el formulario más pequeño */
  margin: 40px auto 0; /* Añadir margen superior para separar del toolbar */
}

ion-item {
  --background: #f8f8f8; /* Fondo claro para los elementos del formulario */
  --border-radius: 8px;
  margin-bottom: 15px;
  color: #000000;
}

ion-input {
  --padding-start: 0;
}

ion-label {
  color: #333; /* Gris oscuro para etiquetas */
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

ion-button {
  --background: #007bff; /* Color azul para botones */
  --color: #ffffff; /* Color de texto blanco */
  --border-radius: 25px; /* Bordes redondeados */
  font-weight: bold;
  margin-top: 10px; /* Añadir un margen superior entre botones */
}

ion-icon {
  font-size: 24px;
  margin-bottom: -19px;
  margin-left: 5px;
}