<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Registrarte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input [(ngModel)]="user.nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Numero</ion-label>
  <ion-input type="tel" [(ngModel)]="user.telefono"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Correo electronico</ion-label>
  <ion-input type="email" [(ngModel)]="user.correo"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" >Contraseña</ion-label>
  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
</ion-item>
<ion-button class="ion-padding" color="primary" (click)="register(user)">Registrarte</ion-button>
</ion-content>
